*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

[data-mode='light'] {
	--color-background: hsl(0, 0%, 96%);
	--color-input: hsl(0, 0%, 100%);
	--color-text: hsl(200, 15%, 8%);
	--special-color: hsl(0, 0%, 0%);
	--box-shadow: rgba(66, 68, 90, 1);
}

[data-mode='dark'] {
	--color-background: hsl(200, 15%, 8%);
	--color-input: hsl(0, 0%, 0%);
	--color-text: hsl(0, 0%, 96%);
	--special-color: hsl(0, 0%, 100%);
	--box-shadow: rgb(165, 167, 189);
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: 'Ysabeau Office', sans-serif;
	font-size: 16px;
}

.wrapper {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

main {
	padding: 0 32px;
}

header {
	border-bottom: 2px solid var(--special-color);
}

.header-content {
	display: flex;
	justify-content: space-between;
	padding: 12px;
	margin: 32px auto;
	width: 100%;
	max-width: 1600px;
}

header button {
	padding: 12px;
	height: 56px;
	width: 52px;
	background-color: var(--color-background);
	color: var(--color-text);
	border: 2px solid var(--special-color);
	border-radius: 8px;
	font-size: 24px;
	transition: box-shadow 0.3s;
	cursor: pointer;
}

header button:hover {
	box-shadow: 0px 0px 30px -10px var(--box-shadow);
}

.filters select,
.filters input {
	padding: 15px 30px;
	margin: 10px 0;
	border: none;
	border-radius: 8px;
	background-color: var(--color-input);
	color: var(--color-text);
	box-shadow: 0px 0px 30px -15px var(--box-shadow);
}

.filters select:focus,
.filters input:focus {
	outline: 1px solid var(--special-color);
}

.filters {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 30px 20px;
	margin: 30px;
}

.filters select {
	border-right: 20px solid transparent;
}

.icon {
	position: absolute;
	top: 55px;
	left: 28px;
	font-size: 14px;
	color: none;
}

ul {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 60px;
	margin: 20px;
	list-style: none;
}

li {
	border-radius: 10px;
	box-shadow: 0px 0px 30px -10px var(--box-shadow);
	text-align: center;
	overflow: hidden;
}

li img {
	aspect-ratio: 160/80;
	width: 100%;
}

.info-container {
	padding: 30px 20px;
}

.country-name {
	display: block;
	font-size: 18px;
	margin-bottom: 20px;
}

@media (min-width: 600px) {
	ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 820px) {
	ul {
		grid-template-columns: repeat(3, 1fr);
	}

	.filters {
		justify-content: space-between;
		flex-direction: row;
	}

	.icon {
		top: 56px;
	}
}

@media (min-width: 1280px) {
	ul {
		grid-template-columns: repeat(4, 1fr);
	}
}
