*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

[data-mode='light'] {
	--color-background: hsl(0, 0%, 96%);
	--color-input: hsl(0, 0%, 100%);
	--color-text: hsl(200, 15%, 8%);
	--special-color: hsl(0, 0%, 0%);
	--box-shadow: rgba(66, 68, 90, 1);
	--info-shadow: rgba(37, 37, 37, 0.8);
}

[data-mode='dark'] {
	--color-background: hsl(200, 15%, 8%);
	--color-input: hsl(0, 0%, 0%);
	--color-text: hsl(0, 0%, 96%);
	--special-color: hsl(0, 0%, 100%);
	--box-shadow: rgb(165, 167, 189);
	--info-shadow: rgba(192, 192, 192, 0.8);
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	font-family: 'Ysabeau Office', sans-serif;
	font-size: 1em;
}

.wrapper {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

header {
	margin: auto;
	border-bottom: 2px solid var(--special-color);
}

.header-content {
	display: flex;
	justify-content: space-between;
	padding: 0.75em 2em;
	margin: 2em auto;
	max-width: 1600px;
}

header button {
	padding: 0.75rem;
	height: 56px;
	width: 52px;
	background-color: var(--color-background);
	color: var(--color-text);
	border: 2px solid var(--special-color);
	border-radius: 8px;
	font-size: 1.5em;
	transition: box-shadow 0.3s;
	cursor: pointer;
}

header button:hover {
	box-shadow: 0px 0px 30px -10px var(--box-shadow);
}

.filters select,
.filters input {
	padding: 1rem 2rem;
	margin: 0.75rem 0;
	border: none;
	border-radius: 8px;
	background-color: var(--color-input);
	color: var(--color-text);
	box-shadow: 0px 0px 30px -15px var(--box-shadow);
}

.filters select:focus,
.filters input:focus {
	outline: 1px solid var(--special-color);
}

.filters {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2em 1.2em;
	margin: 1.8em;
}

.filters select {
	border-right: 20px solid transparent;
}

.icon {
	position: absolute;
	top: 59px;
	left: 29px;
	font-size: 1em;
}

.countries-section {
	padding: 0 2em;
}

ul {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 3em;
	margin: 1em;
	list-style: none;
}

li {
	border-radius: 10px;
	box-shadow: 0px 0px 30px -10px var(--box-shadow);
	text-align: center;
	overflow: hidden;
}

li img {
	aspect-ratio: 160/80;
	width: 100%;
	transition: transform 0.3s;
	cursor: pointer;
}

li img:hover {
	transform: scale(1.05);
}

.info-container {
	padding: 2em 1em;
}

.country-name {
	display: block;
	font-size: 1.2em;
	margin-bottom: 2em;
}

.more-info {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--info-shadow);
	z-index: 10;
}

.active {
	display: flex;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
	background-color: var(--color-background);
	color: var(--color-text);
	border-radius: 8px;
	z-index: 11;
}

.container-btn {
	position: absolute;
	padding: 1em;
	top: 0.5em;
	right: 0.5em;
	font-size: 1.5em;
	cursor: pointer;
	z-index: 11;
}

@media (min-width: 600px) {
	ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 820px) {
	.header-content {
		padding: 0.75em 3em;
	}

	.filters {
		justify-content: space-between;
		flex-direction: row;
	}

	ul {
		grid-template-columns: repeat(3, 1fr);
	}

	.icon {
		top: 60px;
	}
}

@media (min-width: 1280px) {
	ul {
		grid-template-columns: repeat(4, 1fr);
	}
}
